@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

/* body,
html {
  height: 100dvh;
  width: 100dvw;
  background: #0e1a26;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */
 /* body,
html {
  height: 100dvh;
  width: 100dvw;
  background-color: #0A232E;
  background: #0e1a26;
  background-image: url('/treeBg.png');
   background-size: contain;
   background-size: 100% ;
background-position: 40% center;
  background-position: left center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */

body,
html {
  height: 100dvh;
  width: 100dvw;
  background-color: #0A232E;
  background-size: 100%;
  background-position: 40% center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
}

.cover-wrapper,
.flipbook-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flipbook-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-logo {
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

/* .page {
  background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
.page {
  position: relative;
  overflow: hidden;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/bgBook.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Бүдэгрүүлэх тохиргоо */
  z-index: 0;
}

.page .page-content {
  position: relative;
  z-index: 1;
}


.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}


.cover {
  border-radius: 8px;
  background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);
  color: white;
  font-weight: bold;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 5px;
}

.pokemon-container img {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemon-container img:hover {
  transform: scale(1.05);
}

.pokemon-info {
  width: 100%;
}

.pokemon-name {
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-weight: 600;
  /* color: #2c3e50; */
  color: #a6c1db;
  margin-bottom: 5px;
}

.pokemon-number {
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: #7f8c8d;
  margin-bottom: 10px;
}

.pokemon-type {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: clamp(0.6rem, 1.5vw, 0.9rem);
  font-weight: 500;
  color: white;
  margin: 0 3px 5px 3px;
}

.type-electric {
  background-color: #f1c40f;
}

.type-ground {
  background-color: #e67e22;
}

.type-poison {
  background-color: #9b59b6;
}

.type-fire {
  background-color: #e74c3c;
}

.type-flying {
  background-color: #3498db;
}

.type-water {
  background-color: #2980b9;
}

.type-dark {
  background-color: #34495e;
}

.type-fighting {
  background-color: #d35400;
}

.type-steel {
  background-color: #7f8c8d;
}

.type-rock {
  background-color: #9a7b4f;
}

.pokemon-description {
  font-size: 16px;
  color: #d2dfee;
  margin-top: 8px;
  line-height: 1.6;
}

.demoPage {
  background: #fff;
  color: #000;
}




.book-shadow-wrapper {
  perspective: 2000px; /* 3D гүн мэдрэмж */
}

@keyframes flipOut {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(-180deg);
    opacity: 0;
  }
}

.flip-out {
  animation: flipOut 1s forwards;
  transform-origin: left center;
}


/* page */
.page-number {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.9rem;
  color: #7f8c8d;
}

.page:nth-child(odd) .page-number {
  right: 20px;
  text-align: right;
}

.page:nth-child(even) .page-number {
  left: 20px;
  text-align: left;
}


/* animation scroll */
.single-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}


.pokemon-description {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.animated-scroll span {
  display: inline-block;
  animation-name: scrollText;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.animated-scroll.playing span {
  animation-play-state: running;
}

@keyframes scrollText {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}




/* Жишээ: 10s, 15s, 20s, 25s гэх мэт ангилалтай */
.duration-15s span {
  animation-duration: 15s;
}
.duration-25s span {
  animation-duration: 25s;
}
.duration-35s span {
  animation-duration: 35s;
}
.duration-45s span {
  animation-duration: 45s;
}

.duration-55s span {
  animation-duration: 55s;
}
.duration-65s span {
  animation-duration: 65s;
}
.duration-85s span {
  animation-duration: 85s;
}
.duration-105s span {
  animation-duration: 105s;
}
.duration-125s span {
  animation-duration: 125s;
}
/* .pokemon-description.animated-scroll span {
  display: inline-block;
  animation: scrollText linear forwards;
  white-space: pre-wrap;
}
@keyframes scrollText {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
} */





.two-column-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.image-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-side img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.text-side {
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.scrollable-text {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  box-sizing: border-box;
}

.scrollable-text::-webkit-scrollbar {
  width: 6px;
}

.scrollable-text::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}


/* хүрээ */

.media-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.media-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.media-blur-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
  transform: scale(1.2); /* бага зэрэг томруулах */
  z-index: 0;
  opacity: 1;
}

.media-frame {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 4px solid #ccc;
  border-radius: 8px;
  z-index: 1;
}


.text-side {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.side-image-wrapper {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.side-image {
  height: 200%; /* 100%-аас их */
  width: 200%;
  object-fit: cover;
  /* transform: translate(-15%, -25%);  */
}


.text-content {
  width: 90%;
  padding: 20px;
  overflow: hidden;
}
